@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html{
    background: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: black;
    font-style: normal;
    height: 100%;
    box-sizing: border-box;
}

#navbar{
    z-index: 100;
    display: flex;
    background: red;
    height: auto;
}

#navbar a{
    margin: 5px 5px 5px 5px;
    float: left;
    display: block;
    background-color: red;
    color: black;
    text-align: center;
    padding: 20px 22px;
    height: auto;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s ease;
}

#navbar a:hover{
    margin: 5px 5px 5px 5px;
    background-color: #e0b7b0;
    color: black;
    padding: 20px 22px;
    border-radius: 10px;
}

#navbar a.active{
    margin: 5px 5px 5px 5px;
    background-color: #502000;
    color: white;
    padding: 20px 22px;
    border-radius: 10px;
}

#navbar a.active:hover{
    margin: 5px 5px 5px 5px;
    background-color: #e0b7b0;
    color: black;
    padding: 20px 22px;
    border-radius: 10px;
}

.logo{
    z-index: -1;
    background: transparent;
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin-top: 250px;
    width: 211px;
    height: 211px;
}
.landing{
    height: 150vh;
    background-color: #251887;
}

#landing{
    background-position: center;
    background-size: cover;
    background-image: url("images/market.png");
    background-attachment: fixed;
    padding: 16px;
    height: 100vh;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + #landing{
    padding-top: 60px;
}

.wave{
    width: 100%;
    height: auto;
    position: relative;
    top: -230px;
    background-color: transparent;
}

#feature{
    display: flex;
    width: 100%;
    height: 215px;
    justify-content: space-evenly;
    top: -100px;
    background-color: #251887;
}

#feature .feature-box, #feature .feature-box2{
    display: block;
    background-color: red;
    width: 45%;
    height: 205px;
    border-radius: 15px;
    transition: 0.5s ease;
    
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#feature .feature-box:hover, #feature .feature-box2:hover{
    background-color: #e0b7b0;
}

#feature .feature-box h2, #feature .feature-box2 h2{
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 205px;
    text-transform: uppercase;
    font-size: 50px;
}

@media screen and (max-width: 408px){
    #navbar a{
        font-size: 10px;
    }
}

@media screen and (max-width: 1040px){
    .wave{
        top: -200px;
    }
}

@media screen and (max-width: 900px){
    .wave{
        top: -170px;
    }
}

@media screen and (max-width: 770px){
    .wave{
        top: -140px;
    }
}

@media screen and (max-width: 630px){
    .wave{
        top: -110px;
    }
}

@media screen and (max-width: 500px){
    .wave{
        top: -80px;
    }
}

@media screen and (max-width: 360px){
    .wave{
        top: -50px;
    }
}